html{
    background-color: black;
}

h1{
    color: white;
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    
}
p{
    color: white;
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img{
    width: 100%;
    border: 5px white solid;
}